<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hackathon.elibrary">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">
        <activity android:name=".Account.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home.HomeActivity" />
        <activity android:name=".Account.RegistryActivity"/>
        <activity android:name=".Search.SearchActivty" />
        <activity android:name=".Reader.ReaderActivity"/>
        <activity android:name=".Favorites.FavoritesActivity"/>
        <activity android:name=".Profile.ProfileActivity"/>
    </application>


</manifest>